.address-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address-nav .list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.address-nav .item + .item {
  margin-left: 30px;
}

/*стиль адреса*/

.address-mail {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: $primary-text-color;
  font-family: $font-first;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus,
  &:active {
    --color5: $accent-color;
    color: $accent-color;
  }
}

.icon-address {
  margin-right: 10px;
  --color3: currentColor;
}
