.contact-list {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.contact-item + .contact-item {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

/*стиль адреса*/

.address-mail {
  text-align: center;
  display: block;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: $primary-text-color;
  font-family: $font-first;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;

  margin-bottom: 16px;

  @media screen and (min-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus,
  &:active {
    --color5: $accent-color;
    color: $accent-color;
  }
}

.icon-address {
  margin-right: 10px;
  --color3: currentColor;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}
