/*постоянные клиенты*/

.clients.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: $title-text-color;
  font-family: $font-first;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  padding-top: 50px;
  padding-left: 0px;
  margin: 0px;

  @media screen and (min-width: 480px) {
    width: calc((100%-4 * 15) / 2);
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.clients__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accent-color;
    --color6: #2196f3;
  }
}

.clients-icon {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
