/* хедер*/
.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 16px 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    padding: 26px 15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 1200px;
    padding: 24px 15px;
  }
}
