/*стиль главного фона и цвет заголовка*/
.section-hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero/hero.jpg);
  background-color: rgb(49, 3, 3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $title-second-text-color;

  & .title {
    width: 646px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    text-align: center;
    text-transform: uppercase;
    font-family: $font-first;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: $title-second-text-color;
  }
}
