/*лого*/
.logo {
  color: $accent-color;
  display: flex;
  align-items: center;

  font-family: $font-second;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  color: $title-text-color;
  font-family: $font-second;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer {
  display: block;
  margin: 0px;
  padding: 0px;

  color: $accent-background-color;
  font-family: $font-second;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
