/*лого*/
.logo {
  display: block;
  font-family: $font-second;

  color: $accent-color;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;

  @media screen and (min-width: 480px) {
    margin-right: 81px;
  }

  @media screen and (min-width: 768px) {
    margin: 0px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-header {
  color: $title-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-footer {
  margin-bottom: 20px;
  padding: 0px;
  color: $accent-background-color;

  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}
