.nav-link {
  position: relative;

  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: $title-text-color;
  font-family: $font-first;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 16;
  letter-spacing: 0.02em;
  @media screen and (min-width: 480px) {
    display: inline-block;
    padding-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 0px;
    padding: 0px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
  &.curent {
    color: $accent-color;
  }

  &.curent::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    background-color: $accent-color;
  }
}
