/*стиль навигации*/
.main-nav{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;

    .list {
    display: flex;
    margin-left: 85px;
    padding-left: 0px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
   }

    .item + .item {
    margin-left: 50px;
}
}