/*стиль навигации*/
.main-nav {
  margin-top: 0px;
  margin-bottom: 0px;

  & .list {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      display: inline-block;
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  & .item {
    text-align: center;
    padding-bottom: 40px;
    position: relative;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
    }
  }

  & .item + .item {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }
}
