/*стиль навигации*/

.main-nav {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $title-second-text-color;

    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #ececec;
    }
  }
  @media screen and (min-width: 768px) {
    position: static;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 0px;
  }
}

.nav-menu {
}

.nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.nav-item {
  text-align: center;

  position: relative;

  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    margin: 0px;
    padding: 0px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0px;
  }
}

.nav-item + .nav-item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}

.nav-item:last-child {
  margin-bottom: 60px;
}
