/*наш профиль*/

.section.hidden-section {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.container.features {
  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.profile.title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $title-text-color;
  font-family: $font-first;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.profile .image {
  width: 370px;
  height: 294px;
}

.image-box {
  display: block;
  position: relative;
}

.box-title {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  right: 0;
}

.profile.list {
  display: flex;
  padding-left: 0px;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
}

.profile .item + .item {
  margin-left: 30px;
}

.profile .text-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;

  color: $title-second-text-color;
  background: rgba(47, 48, 58, 0.8);
  font-family: $font-first;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
