$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-background-color: #f5f4fa;
$title-second-text-color: #ffffff;

$font-first: Roboto, sans-serif;
$font-second: Raleway, sans-serif;
